body {
    font-family: Verdana, Helvetica;
}
form {
    gap: 1px;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

input, button, textarea, select {

    padding: 0.5rem;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

p, h1 {
    text-align: center;
}

div {
    color: red;
}